
@import url('https://fonts.googleapis.com/css?family=Overlock SC:700|Overlock SC:400');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login,.signup{
  background: black;
  overflow: hidden;
}
.left,
.right {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
}
.left {
  background: var(--secondary);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login .logo, .signup .logo {
  display: flex;
  flex-direction: row;
}
.login .logo i, .signup .logo i {
    font-size: 5rem;
    margin: 10px;
    text-align: center;
}
.login .left h1, .signup .left h1{
    font-family: Overlock SC;
    font-size: 3rem;   
    font-weight: 600;
}
.login .left h3, .signup .left h3{
    font-family: Overlock SC;
    font-size: 1.6rem;
    font-weight: 400;
}
.login .left p, .signup .left p{
    font-style: italic;
    font-size: 1rem;
}

.login form input, .signup form input{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}
.login form , 
.signup form{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.login .login-btn,
.signup .signup-btn, 
.login .signup-btn , 
.signup .signup-btn{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  background: var(--primary);
  color: black;
  cursor: pointer;
}
.login .login-btn:hover,
.signup .signup-btn:hover {
  background: var(--accent);
  color: white;
}
.login form input,
.login form button, 
.signup form input,
.signup form button{
  width: 35vw !important;
  height: 50px;
}
.google {
  margin: 10px;
  padding: 10px;
  background-color: #c54141;
  color: white;
  font-weight: bolder;
  width: 35vw;
}
.google:hover {
  background-color: white;
  color: #f44336;
  font-weight: bolder;
}

.or{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    width: 90%;
}
.login hr, .signup hr{
    width: 100%;
    margin: 10px;
    color: white;
    opacity: 0.5;
}