*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: black; */
}

@import url('https://fonts.googleapis.com/css?family=Overlock SC:700|Overlock SC:400');
/* 
:root[data-theme="light1"] {
    --text: #0c080b;
    --background: #f5f0f4;
    --primary: #3f5f45;
    --secondary: #dae4e7;
    --accent: #62936c;
}
:root[data-theme="dark1"] {
    --text: #f7f3f6;
    --background: #0f0a0e;
    --primary: #a0c0a6;
    --secondary: #182225;
    --accent: #6c9d76;
} */


:root[data-theme="light"] {
    --text: #071427;
    --background: #e9f0fb;
    --primary: #224e8c;
    --secondary: #d8e5f8;
    --accent: #2b73da;
  }
  :root[data-theme="dark"] {
    --text: #d8e5f8;
    --background: #040b16;
    --primary: #75a1de;
    --secondary: #071427;
    --accent: #256ed4;
  }
  